@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

.cart {
    @include paddingsTB(96px, 128px);

    display: flex;
    justify-content: center;

    &__left {
        // width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        box-sizing: border-box;

        &-prod {
            -webkit-box-shadow: 16px 20px 21px 1px rgba(34, 60, 80, 0.19);
            -moz-box-shadow: 16px 20px 21px 1px rgba(34, 60, 80, 0.19);
            box-shadow: 16px 20px 21px 1px rgba(34, 60, 80, 0.19);
            display: flex;
            align-items: center;
            align-content: center;
            flex-wrap: nowrap;
            gap: 31px;

            &-img {
                width: 40%;
            }

            &-description {
                position: relative;
            }

            &-title {
                @include fontStyle($backgroundColorSite, 24px, 400,
                    $font-style: normal, $line-height: normal, $text-align: none);
                padding-bottom: 42px;
            }

            &-text {
                padding-bottom: 6px;
                @include fontStyle(#575757, 22px, 400,
                    $font-style: normal, $line-height: normal, $text-align: none);

                .text__price {
                    color: $colorHover;
                }

                .ccart__left-text-Span {
                    color: #6F6E6E;
                }

                .product-count {
                    width: 24px;
                    padding-left: 10px;
                    margin-left: 24px;
                    height: 25px;
                    font-size: 18px;
                }
            }

        }
        .cart__left-prod-svg__close {
            padding-top: 3px;
            padding-right: 22px;
            position: absolute;
            left: 305px;
            top: 3px;

            path:hover {
                fill: $colorHover;
            }

        }
        &-buttons {
            @include centerFlex(space-between);
            flex-direction: row;
            padding-top: 72px;
        }

        &-shopping {
            width: 235px;
            height: 50px;
            color: #000;
            background: white;
            border: 1px solid #A4A4A4;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        

    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: nowrap;
        padding-left: 128px;
        gap: 57px;

        &-title {
            @include fontStyle($backgroundColorSite, 16px, 300);
            padding-bottom: 20px;
        }

        &-formOrder {

            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &-input {
            display: flex;
            flex-direction: column;
        }

        &-input-adress {
            width: 360px;
            height: 45px;
            margin-bottom: 20px;
            padding-left: 17px;
            @include fontStyle(#B1B1B1, 13px, 300,
                $font-style: normal, $line-height: normal, $text-align: none);
            border: 1px solid #a8a2a2;
        }

        &-buttons {
            width: 101.408px;
            height: 35px;
            border: 1px solid #a8a2a2;
            @include fontStyle(#4A4A4A, 11px, 300,
                $font-style: normal, $line-height: normal, $text-align: none);
            background: white;
        }

        &-formTotal {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &-formTotal {
            background: #F5F3F3;
            @include paddingsLR(44px, 43px);
            @include paddingsTB(39px, 42px);
            &_text {
                @include fontStyle($backgroundColorSite, 11px, 400,
                    $font-style: normal, $line-height: normal, $text-align: none);
                padding-bottom: 12px;
            }

            &_text-total {
                @include fontStyle($backgroundColorSite, 16px, 300,
                    $font-style: normal, $line-height: normal, $text-align: none);
                padding-bottom: 21px;

                .text2__span {
                    color: #F16D7F;
                    font-family: Lato;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }

            &_line {
                padding-bottom: 17px;
            }

            &_buttonCheckout {
                width: 273px;
                height: 50px;
                background: $colorHover;
                @include fontStyle(#FFF, 16px, 300,
                $font-style: normal, $line-height: normal, $text-align: none);
                border: none;
            }
        }

    }
}


@media (max-width: 768px) {
    .cart{
        flex-direction: column;
        &__left {

            &-buttons{
                padding-top: 62px;
                padding-bottom: 80px;
                justify-content: space-around;
            }
        }
        &__right{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 15px;
            padding-left: 0px;
            &-input-adress{
                margin-bottom: 23px;
            }
        }
    }
    
   
}