@mixin centerCalc($width) {
    padding-left: calc(50% - $width);
    padding-right: calc(50% - $width);
}
@mixin centerCalcMobile($width) {
    padding-left: calc(50% - $width);
    padding-right: calc(50% - $width);
}
@mixin centerCalcTablet($width) {
    padding-left: calc(50% - $width);
    padding-right: calc(50% - $width);
}

@mixin centerFlex($justify-content) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
}

@mixin gridProduct($justify-content, $gap) {
    display: grid;
    justify-content: $justify-content;
    align-items: center;
    gap: $gap;
}

@mixin fontStyle($color, $text-align, $font-size, $font-weight, $font-style, $line-height) {
    color: $color;
    text-align: $text-align;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: $font-style;
    line-height: $line-height;
}
@mixin fontStylebreadCrambs($color, $font-size, $font-weight, $font-style, $line-height) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: $font-style;
    line-height: $line-height;
}

@mixin fetured__title__text($color, $font-size, $font-weight) {
    color: $color;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: normal;
}
@mixin objectPosition($top, $left, $right, $bottom){
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

@mixin paddingsLR($paddingLeft, $paddingRight){
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
}
@mixin paddingsTB($paddingTop, $paddingBottom){
    padding-top: $paddingTop;
    padding-bottom: $paddingBottom;
}
@mixin stileText($font-size, $font-weight) {
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: normal;
}

%mainCatalogStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 360px;
    font-size: 16px;
    line-height: 1.2;
    color: white;
}
%linkHover {
    color: aqua;
    transform: scale(1.2);
    /* Увеличиваем масштаб */
    transition: 1s;
    /* Время эффекта */
}
%carouselActiv{
    display: block;
}