@mixin centerCalc($width) {
    padding-left: calc(50% - $width/2);
    padding-right: calc(50% - $width/2);
    
    }

@mixin centerFlex($justify-content) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
}
@mixin flexDispley($justify-content, $flex-direction, $flex-wrap, $align-items, $gap) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    align-items: $align-items;
    gap: $gap;
}

@mixin gridProduct($gap) {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: $gap;
}
@mixin fontStyle($color, $font-size, $font-weight,
$font-style:normal, $line-height:normal, $text-align:none) {
color: $color;
font-size: $font-size;
font-weight: $font-weight;
font-style: $font-style;
text-align: $text-align;
line-height: $line-height;
}

@mixin fetured__title__text($color, $font-size, $font-weight) {
    color: $color;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: normal;
}
@mixin objectPosition($top, $left, $right, $bottom){
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

@mixin paddingsLR($paddingLeft, $paddingRight){
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
}
@mixin paddingsTB($paddingTop, $paddingBottom){
    padding-top: $paddingTop;
    padding-bottom: $paddingBottom;
}



%mainCatalogStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    line-height: 1.2;
    color: white;
}

