$widthSite: 1140px;
$widthTabletSite:736px;
$widthMobileSite:343.262px;
$backgroundColorSite: #222224;
$colorHover: #F16D7F;
$secondaryColor: #636363;
$clearColor: #FFF;
$nonPartTextColor: #9F9F9F;
$breadcrumbBGColor:#F8F3F4;