* {
    margin: 0;
    padding: 0;
}

.log:hover {
    margin-top: 5px;
    transition: 1s;
}

.basket__count:hover {
    transform: rotate(50deg);
    transition: 1s;
}

.link:hover {
    color: aqua;
}

.link__long:hover {
    color: aqua;
}

.link:hover {
    transform: scale(1.2);
    /* Увеличиваем масштаб */
    transition: 1s;
    /* Время эффекта */
}

.link__long:hover {
    transform: scale(1.2);
    /* Увеличиваем масштаб */
    transition: 1s;
    /* Время эффекта */
}
/*затемнение с ярлыком начало*/
.prod {
    position: relative;
}
.prod:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
}

.prod:before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: url(img/Add_to_cart.png);
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
}

.prod:hover:before,
.prod:hover:after {
    opacity: 1;
    transition: 1s;
}
/*затемнение с ярлыком конец*/

.button__footer__product:hover{
    border: 3px dotted #3a7999;
	color: #3a7999;
	background: rgba(0,0,0,0);
}
.info_slyle_footer:hover{
    transform: scale(1.2);
    color: cornflowerblue;
}