@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

body {
    // font-family: 'latoblack';
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}


a {
    text-decoration: none;
}

.center {
    @include centerCalc($widthSite);
}

.header {


    background: $backgroundColorSite;
    @include centerFlex(space-between);
    @include paddingsTB(18px, 18px);

    &__left {
        @include centerFlex(none);
        gap: 41px;
    }

    &__right {
        @include centerFlex(none);
        gap: 41px;
        position: relative;

        &__log3 {
            padding-top: 13px;
        }
    }

    .basket__count::after {
        content: '5';
        position: absolute;
        @include centerFlex(center);
        width: 25px;
        height: 25px;
        background-color: $colorHover;
        color: white;
        top: -3px;
        right: -7px;
        border-radius: 15px 15px 15px 15px;
    }

    .log:hover {
        margin-top: 5px;
        transition: 1s;
    }

    .header__right__log3:hover {
        transform: rotate(50deg);
        transition: 1s;
    }
}

.top__head {
    @include centerFlex(space-between);
    @include paddingsTB(59px, 60px);
    background: #F8F3F4;


    &__link {
        @include fontStyle(#636363, 14px, 300);
        color: $backgroundColorSite;
    }

    &__heading {
        @include fontStyle($backgroundColorSite, 24px, 300);
    }

    .breadCrambs__link {
        color: $backgroundColorSite;
    }

    .breadCrambs__link_site {
        color: $colorHover;
    }
}

.top__head__link {
    text-decoration: none;

}

.top__head__heading:hover {
    color: $colorHover;
}

/*затемнение с ярлыком начало*/
.prod {
    position: relative;
}

.prod:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
}

.prod:before {
    @include centerFlex(center);
    content: url(img/Add_to_cart.png);
    position: absolute;
    @include objectPosition(0, 0, 0, 0);
    opacity: 0;
}

.prod:hover:before,
.prod:hover:after {
    opacity: 1;
    transition: 1s;
}

/*затемнение с ярлыком конец*/
.button__footer__product:hover {
    border: 3px dotted #3a7999;
    color: #3a7999;
    background: rgba(0, 0, 0, 0);
}

.info_slyle_footer:hover {
    transform: scale(1.2);
    color: cornflowerblue;
}

/****filter__sort*******/

.filter_sort {
    // width: 132px;
    position: absolute;
    display: flex;
    gap: 16px;
    @include paddingsTB(39px, 64px);
}

.filter {
    padding: 13px 16px 16px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &_summary {
        @include centerFlex(flex-start);
        gap: 11px;
    }

    &__title {
        @include fetured__title__text($backgroundColorSite, 14px, 400);
        line-height: 17px;
    }

    &_content {
        @include paddingsTB(24px, 16px);
    }

    &_link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &_link {
        @include fetured__title__text($colorSortText, 14px, 400);
        line-height: 17px;
        padding-left: 17px;

        &:hover {
            color: $colorHover;
        }
    }

    &_head {
        width: 140%;
        @include fetured__title__text($colorSortText, 14px, 400);
        @include paddingsTB(11px, 11px);
        padding-left: 11px;
        border-bottom: 1px solid #e7e3e3;
        border-left: 5px solid $colorHover
    }

    &_item {
        margin-top: 16px;

        &[open] .filter_head-title {
            color: $colorHover;
        }

    }

    &[open] .filter__title {
        color: $colorHover;
    }

    &[open] path {
        fill: $colorHover;
    }

    &_item[open].filter_head {
        color: $colorHover;
    }

}

.sort {
    @include centerFlex(flex-start);
    margin-left: 15px;
    padding-top: 12px;
    align-items: flex-start;

    &_details {
        position: relative;
        padding-right: 27px;
    }

    &_summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_title {
        @include fetured__title__text(#6F6E6E, 14px, 400);
        line-height: 17px;
    }

    &__box {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        border: 1px solid #222222;
        position: absolute;
        width: 79px;
        z-index: 10;
        margin-top: 5px;
        padding: 9px;
    }

    &__check {
        display: flex;
        align-items: center;
        @include paddingsTB(5px, 9px);
        gap: 9px;
        label {
            @include fetured__title__text(#6F6E6E, 14px, 400);
            font-family: Roboto;
        }
    }


}

/****fetured*******/

.fetured {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 139px;

    &__product {
        width: 360px;
        @include centerFlex(center);
        flex-direction: column;

        &__img {
            width: 100%;
        }
    }
}

.text_product {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;

    .text__product__title {
        font-family: 'latoblack';
        @include fetured__title__text($backgroundColorSite, 13px, 400);
    }

    .text__product__text {
        font-family: 'latolight';
        @include fetured__title__text(#5D5D5D, 14px, 300);
    }

    .text__product__price {
        font-family: 'latoblack';
        @include fetured__title__text($colorHover, 16px, 400);
    }

    .button__footer__product {
        grid-column: 1/4;
        width: 212px;
        height: 48px;
    }

    .button__footer__product span {
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

/****pege__number*******/

.pagina {
    @include centerFlex(center);
    margin-top: 48px;
    margin-bottom: 96px;

    &_page {
        @include centerFlex(center);
        gap: 17px;
        border: 2px solid #f6f3f3;
        width: 350px;
        height: 60px;
    }

    &_page__box {
        @include centerFlex(center);
        gap: 17px;
    }

    .number_page {
        list-style-type: none;
    }

    .num {
        @include fetured__title__text(#C4C4C4, 16px, 300);

        &:hover {
            color: $colorHover;
        }
    }

}

/****footer*******/
.footer {
    position: relative;


    &__dop__info {
        background-color: $backgroundColorSite;
    }

    &_background_image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }

    &__dop__info {
        @include centerFlex(center);

        gap: 30px;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 103px;
        padding-bottom: 104px;
        gap: 20px;

        &_title {
            color: #FBFBFB;
            font-size: 19.96px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__text {
            color: #918f8f;
            text-align: center;
            font-family: Lato;
            font-size: 13.972px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    &_feedback {
        display: flex;
        padding-top: 97px;
        padding-bottom: 126px;
        gap: 293px;
        // padding: 100px;
        position: relative;
        z-index: 2;

        &_face_company {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            .text__face__company {
                width: 359px;
                color: #222224;
                text-align: center;
                font-family: Lato;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                .a_pulvinar {
                    font-size: 20px;
                    font-style: italic;
                }
            }
        }

        &_inter__email {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: nowrap;
            justify-content: flex-end;
        }

        .title_SUBSCRIBE {
            color: #222224;
            text-align: center;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
        }

        .title_FOR_OUR_NEWLETTER {
            color: #222224;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            padding-bottom: 15px;
            line-height: 167.2%;
        }

        .style__input {
            margin: -4px;
            /*цвет рамки*/
            /* border: 2px solid #cccccc; */
            /*закругление углов (общее)*/
            border-radius: 100px 15px 15px 100px;
            /*закругление углов (Google Chrome)*/
            /* -webkit-border-radius: 3px;  */
            /*закругление углов (FireFox)*/
            /* -moz-border-radius: 3px;  */
            /*закругление углов (Safari)*/
            /* -khtml-border-radius: 3px;  */
            /* желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
            background: #e3e2e2 !important;
            /*удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
            outline: #080808;
            /*высота на свое усмотрение*/
            height: 49px;
            /* ширина на свое усмотрение*/
            width: 244px;
            /*//цвет шрифта в обычном состоянии*/
            color: #111111;
            /*Размер шрифта*/
            /* font-size: 30px;  */
            /*Стиль шрифта*/
            font-family: Lato;
            border: 0px solid #080808;
        }

        .style__input {
            padding-left: 30px;
        }

        ::placeholder {
            color: #222224;
            font-family: Lato;
            font-size: 14px;
            opacity: 0.671;
            text-indent: 20px;
            vertical-align: middle;
        }

        .button__submit {
            border-radius: 15px 100px 100px 15px;
            background: #F16D7F !important;
            /*высота на свое усмотрение*/
            height: 49px;
            /* ширина на свое усмотрение*/
            width: 100px;
            /*//цвет шрифта в обычном состоянии*/
            color: #fdf9f9;
            /*Размер шрифта*/
            font-size: 14px;
            /*Стиль шрифта*/
            font-family: Lato;
            border: 0px solid #080808;
        }
    }

    &_social_network {
        @include centerFlex(space-between);
        background-color: $backgroundColorSite;

        &__text {
            @include fontStyle(#FBFBFB, center, 16px, 400, normal, normal);
            padding-top: 30px;
        }

        &__icons {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            gap: 7px;
            padding-top: 24px;
        }
        .icon{
            padding-top: 9px;
        }
        .logo_footer{
            background-color: aliceblue;
            padding: 8px;
            
        }
    }
    .logo_footer:hover{
        background-color: $colorHover
    }
    .network:hover {
        background-color: $colorHover;
    }

    .button__submit:hover {
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        scale: 1.1;
    }
    .icon:hover{
        color: $colorHover;
    }
}


/*****адаптив для телефона*****/

@media (min-width:320px) and (max-width: 767px) {
    body {
        max-width: $widthTabletSite;
    }

    /*header*/
    .center {
        @include centerCalc($widthTabletSite);
    }

    .header {
        @include centerFlex(space-around);

        &__left {
            padding-left: 16px;
            gap: 41px;
        }

        &__right {
            gap: 0px;
        }
    }

    .basket,
    .header__right__log3,
    .log2__header__right,
    .basket__count {
        display: none;
    }

    .log1__header__right {
        padding-right: 16px;
    }

    .top__head {
        flex-direction: column;

        &__link {
            padding-bottom: 32px;
        }
    }

    .carousel {
        @include paddingsTB(none, 85px);

        &-inner {
            padding-bottom: 85px;
        }
    }

    .product_description {
        position: relative !important;
        margin-bottom: 65px;
        @include paddingsLR(5px, 5px);

        &__box {
            position: absolute;
            width: 320px;
            // position: relative !important;
            position: static;
            width: 100%;
            border: none;
        }

        &_text {
            width: 294px;
        }

        &_breadCrambs {
            color: #6F6E6E;
            font-family: Lato;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__button {
            width: 200px;
        }
    }

    /*main*/
    .main {
        height: 363px;
        justify-content: center;

        .main__content__image {
            display: none;
        }

        .menu__img__left {
            display: none;
        }

        .main__text {
            font-size: 38px;
            gap: 15px;
            margin-top: 105px;
            padding-left: 20px;
        }

        .main__text_OF_LUXERIOUS {
            font-size: 20px;
        }

        .main__text_FASHION {
            font-size: 20px;
        }
    }

    /****main__catalog*****/
    .main__catalog {
        @include centerFlex(center);
        flex-direction: column;
        flex-wrap: nowrap;

        .link {
            width: 300px;
        }

        .main__link4 {
            width: 300px;
            height: 111px;
        }

        .main__link1 {
            height: 247px;
        }

        .main__link2 {
            height: 248px;
        }

        .main__link3 {
            height: 248px;
        }
    }

    /*будущие товары*/
    .fetured {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        padding-bottom: 95px;

        &__title {
            width: 97%;
        }

        &__product {
            &__img {
                @include paddingsLR(10px, 10px);
            }

        }

        .product_background {
            background-color: #F3EEEF;
        }
    }

    .fetured__product__new {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 64px;
    }

    .footer {
        &_background_image {
            height: 82%;
        }

        &_feedback {
            flex-direction: column;
            align-items: center;
            padding-top: 64px;
            padding-bottom: 109px;
            gap: 59px;

            .footer_feedback_face_company {
                padding-bottom: 48px;
            }

            .text__face__company {
                width: 100%;
                @include fontStyle($backgroundColorSite, 18px, 400,
                    $font-style: normal, $line-height: normal, $text-align: none);
            }

            &_inter__email {
                align-items: center;

                .title_SUBSCRIBE {
                    font-family: Lato;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 167.2%;
                }

                .title_FOR_OUR_NEWLETTER {
                    font-size: 14px;
                    font-weight: 400;
                }

                .style__input {
                    width: 162px;
                    height: 35px;
                }

                .button__submit {
                    width: 75px;
                    height: 34px;
                }
            }
        }
    }

    .footer_social_network {
        display: flex;
        background-color: #222224;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        padding-bottom: 10px;
    }
}


/***адаптив для планшета***/
@media (min-width:768px) and (max-width: 1024px) {
    body {
        // max-width: $widthTabletSite;
        @include paddingsTB(18px, 18px);
    }

    .center {
        @include centerCalc($widthTabletSite);
    }

    .header {
        &__right {
            margin-right: 20px;
        }

        @include paddingsLR(32px, 41px);
    }

    .top__head {
        @include paddingsLR(16px, 16px);

        &__link {
            @include paddingsTB(59px, 60px);
        }
    }

    .product_description {
        margin-bottom: 129px;
        @include paddingsLR(5px, 5px);

        &__box {
            position: static;
            border: none;
            width: 100%;

        }

        &__button {
            width: 212px;
        }
    }

    .product_description_breadCrambs__a {
        @include fetured__title__text(#6F6E6E, 14px, 400);
    }

    .main {
        &__content {
            justify-content: center;
        }

        .menu__img__left {
            width: 386px;
            height: 368px;
        }
    }

    .main__catalog {
        .link {
            width: 232px;
            height: 167px;
        }

        .link__long {
            width: 760px;
            height: 116px;
        }
    }

    .fetured {
        grid-template-columns: 1fr 1fr;

        &__title {
            grid-column: 1/3;
        }

        .button__footer__product {
            grid-column: 1/3;
        }
    }

    .fetured__product__new {
        gap: 16px;

        .woman {
            display: none;
        }
    }

    .footer {
        &_background_image {
            height: 89%;
        }

        &_feedback {
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }

        &_social_network {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
}