@charset "UTF-8";
.main__catalog .main__link4, .main__catalog .main__link3, .main__catalog .main__link2, .main__catalog .main__link1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.2;
  color: white;
}

.main__catalog .main__link4, .main__catalog .main__link3, .main__catalog .main__link2, .main__catalog .main__link1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.2;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

/****footer*******/
.footer {
  position: relative;
}
.footer__dop__info {
  background-color: #222224;
}
.footer__dop__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 103px;
  padding-bottom: 104px;
  gap: 20px;
}
.footer .info_title {
  color: #FBFBFB;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .info__text {
  color: #918f8f;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.footer_feedback {
  display: flex;
  padding-top: 97px;
  padding-bottom: 126px;
  gap: 293px;
  position: relative;
  z-index: 2;
}
.footer_feedback::after {
  content: "";
  background: url(img/backgroundBig.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.footer_feedback_face_company {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.footer_feedback_face_company .text__face__company {
  width: 359px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_feedback_face_company .text__face__company .a_pulvinar {
  font-size: 20px;
  font-style: italic;
}
.footer_feedback_inter__email {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.footer_feedback .title_SUBSCRIBE {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.footer_feedback .title_FOR_OUR_NEWLETTER {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 15px;
  line-height: 167.2%;
}
.footer_feedback .style__input {
  margin: -4px;
  border-radius: 100px 15px 15px 100px;
  background: #e3e2e2 !important;
  outline: #080808;
  height: 49px;
  width: 244px;
  color: #111111;
  font-family: Lato;
  border: 0px solid #080808;
}
.footer_feedback .style__input {
  padding-left: 30px;
}
.footer_feedback ::-moz-placeholder {
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  opacity: 0.671;
  text-indent: 20px;
  vertical-align: middle;
}
.footer_feedback :-ms-input-placeholder {
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  opacity: 0.671;
  text-indent: 20px;
  vertical-align: middle;
}
.footer_feedback ::placeholder {
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  opacity: 0.671;
  text-indent: 20px;
  vertical-align: middle;
}
.footer_feedback .button__submit {
  border-radius: 15px 100px 100px 15px;
  background: #F16D7F !important;
  height: 49px;
  width: 100px;
  color: #fdf9f9;
  font-size: 14px;
  font-family: Lato;
  border: 0px solid #080808;
}
.footer_feedback .button__submit:hover {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  scale: 1.1;
  transition-duration: 0.9s;
}
.footer_social_network {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222224;
  padding: 24px 23px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.footer_social_network__text {
  color: #FBFBFB;
  font-size: center;
  font-weight: 16px;
  font-style: 400;
  text-align: normal;
  line-height: normal;
}
.footer_social_network__icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 7px;
}
.footer_social_network .icon {
  padding-top: 9px;
}
.footer_social_network .logo_footer {
  background-color: aliceblue;
  padding: 8px;
}
.footer .logo_footer:hover {
  background-color: #F16D7F;
}
.footer .network:hover {
  background-color: #F16D7F;
  transition-duration: 0.9s;
}
.footer .icon:hover {
  color: #F16D7F;
  transition-timing-function: linear;
}

.main__catalog .main__link4, .main__catalog .main__link3, .main__catalog .main__link2, .main__catalog .main__link1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.2;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

/*main*/
.main {
  background: #F1E4E6;
}
.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.main__content__image {
  margin-left: -139px;
}
.main__text {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.main__text_OF_LUXERIOUS {
  font-size: 32px;
  font-weight: 700;
}
.main__text_FASHION {
  color: #F16D7F;
  font-size: 32px;
  font-weight: 700;
}

/*main__catalog*/
.main__catalog {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #FFF;
  font-size: center;
  font-weight: 16px;
  font-style: 400;
  text-align: normal;
  line-height: normal;
  padding-top: 65px;
  padding-bottom: 96px;
}
.main__catalog_link {
  text-decoration: none;
}
.main__catalog_link__long {
  text-decoration: none;
}
.main__catalog .main__link1 {
  background-image: url(img/Group1.png);
  height: 260px;
  width: 360px;
}
.main__catalog .main__link2 {
  background-image: url(img/Group2.jpg);
  height: 260px;
  width: 360px;
}
.main__catalog .main__link3 {
  background-image: url(img/Group3.jpg);
  height: 260px;
  width: 360px;
}
.main__catalog .main__link4 {
  height: 180px;
  width: 1140px;
  background-image: url(img/Group4.jpg);
  grid-column: 1/4;
}
.main__catalog .span__catalog {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main__catalog .link:hover {
  color: aqua;
  transform: scale(1.2);
  /* Увеличиваем масштаб */
  transition: 1s;
  /* Время эффекта */
}
.main__catalog .link__long:hover {
  color: aqua;
  transform: scale(1.2);
  transition: 1s;
}

.main__catalog .main__link1, .main__catalog .main__link2, .main__catalog .main__link3, .main__catalog .main__link4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.2;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.fetured__product__new {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 129px;
}

.fetured {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 1px;
  padding-bottom: 48px;
  justify-items: center;
}
.fetured catalog {
  padding-top: 132px;
}
.fetured__title {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fetured__title__tit {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fetured__title__text {
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fetured__product {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F8F8F8;
}
.fetured__product__img {
  width: 100%;
}

.text_product {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 25px;
}
.text_product__title {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text_product__text {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.text_product__price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/****pege__number*******/
.pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;
}
.pagina_page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  border: 2px solid #f6f3f3;
  width: 350px;
  height: 60px;
}
.pagina_page__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.pagina .number_page {
  list-style-type: none;
}
.pagina .num {
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.pagina .num:hover {
  color: #F16D7F;
}

/****fetured__catalog*******/
.fetured__catalog {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 132px;
  padding-bottom: 48px;
  justify-items: center;
}
.fetured__catalog__title {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fetured__catalog__title__tit {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fetured__catalog__title__text {
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fetured__catalog__product {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F8F8F8;
}
.fetured__catalog__product__img {
  width: 100%;
}

.text_product {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 25px;
}
.text_product__title {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text_product__text {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.text_product__price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button__footer__product {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 50px;
}
.button__footer__product span {
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__catalog .main__link1, .main__catalog .main__link2, .main__catalog .main__link3, .main__catalog .main__link4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.2;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

/****filter__sort*******/
.filter_sort {
  position: absolute;
  display: flex;
  gap: 16px;
  padding-top: 39px;
  padding-bottom: 64px;
}

.filter {
  padding: 13px 16px 16px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter_summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
}
.filter__title {
  color: #222224;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 17px;
}
.filter_content {
  padding-top: 24px;
  padding-bottom: 16px;
}
.filter_link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter_link {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 17px;
  padding-left: 17px;
}
.filter_link:hover {
  color: #F16D7F;
}
.filter_head {
  width: 140%;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  border-bottom: 1px solid #e7e3e3;
  border-left: 5px solid #F16D7F;
}
.filter_item {
  margin-top: 16px;
}
.filter_item[open] .filter_head-title {
  color: #F16D7F;
}
.filter[open] .filter__title {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter_item[open].filter_head {
  color: #F16D7F;
}

.sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
  padding-top: 12px;
  align-items: flex-start;
}
.sort_details {
  position: relative;
  padding-right: 27px;
}
.sort_summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort_title {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 17px;
}
.sort__box {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  border: 1px solid #222222;
  position: absolute;
  width: 79px;
  z-index: 10;
  margin-top: 5px;
  padding: 9px;
}
.sort__check {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 9px;
  gap: 9px;
}
.sort__check label {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: Roboto;
}

.main__catalog .main__link1, .main__catalog .main__link2, .main__catalog .main__link3, .main__catalog .main__link4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.2;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

/****** carousel ******/
.carousel-inner {
  display: flex;
  background-color: #F7F7F7;
  justify-content: center;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-color: rgba(42, 42, 42, 0.15);
}
.carousel-control-next-icon :hover,
.carousel-control-prev-icon :hover {
  fill: #F16D7F;
}

.carousel-control-prev-icon {
  padding-top: 2px;
  padding-right: 5px;
}

.carousel-control-next-icon {
  padding-top: 2px;
  padding-right: 5px;
  transform: rotate(180deg);
}

.product_description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 655px;
  position: relative;
}
.product_description__box {
  width: 850px;
  height: 685px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: -45px;
  position: absolute;
  z-index: 10;
  border: 1px solid #EAEAEA;
  background-color: #FFF;
  padding-bottom: 64px;
}
.product_description_title1 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 64px;
  padding-bottom: 12px;
}
.product_description_title2 {
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 12px;
  padding-bottom: 48px;
}
.product_description_text {
  color: #5E5E5E;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  width: 582px;
}
.product_description__price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222224;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 32px;
  padding-bottom: 65px;
  color: #F16D7F;
  border-bottom: 1px solid #EAEAEA;
  width: 50%;
}
.product_description_line {
  padding-top: 0px;
  padding-bottom: 65px;
}
.product_description_breadCrambs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 22px;
  padding-bottom: 63px;
}
.product_description_breadCrambs__a {
  color: #222224;
  gap: 9px;
}
.product_description__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  border: 2px solid #e34761;
  padding: 3px 54px;
  width: 200px;
}
.product_description__button .button_text {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 17px;
  padding-right: 5px;
}

.product_description_title1:hover {
  color: #F16D7F;
}

.product_description__button:hover {
  color: #F16D7F;
  transform: translate(0, 0.25em);
}

.main__catalog .main__link1, .main__catalog .main__link2, .main__catalog .main__link3, .main__catalog .main__link4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.2;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.cart__content {
  padding-top: 96px;
  padding-bottom: 128px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 40px;
}
.cart__content__product {
  box-shadow: 16px 20px 21px 1px rgba(34, 60, 80, 0.19);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  gap: 31px;
}
.cart__content__product__img {
  width: 262px;
  height: 306px;
}
.cart__content__product_head {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.cart__content__title {
  color: #222224;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: none;
  line-height: normal;
  padding-top: 0px;
  padding-bottom: 42px;
}
.cart__content__svg__close {
  padding-top: 5px;
  padding-right: 22px;
}
.cart__content__svg__close path:hover {
  fill: #F16D7F;
}
.cart__content__text {
  color: #575757;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  text-align: none;
  line-height: normal;
  padding: 6px;
}
.cart__content__text-Span {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__content__text-SpanNum {
  border: 1px solid #c6c1c1;
  padding-left: 16px;
  padding-right: 17px;
  color: #656565;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 24px;
}
.cart__content__text .text__price {
  color: #EF5B70;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  text-align: none;
  line-height: normal;
}
.cart__content__form {
  padding-left: 128px;
}
.cart__content__form__order {
  display: flex;
  justify-content: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 21px;
}
.cart__content__form__order__input {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  gap: 21px;
}
.cart__content__form .form__order_title {
  color: #575757;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: none;
  line-height: normal;
  padding-top: 20px;
}
.cart__content__form .input__adress {
  text-indent: 16px;
  width: 390px;
  height: 44px;
  border-color: #A4A4A4;
}
.cart__content__form input::-moz-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  text-align: none;
  line-height: normal;
}
.cart__content__form input:-ms-input-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  text-align: none;
  line-height: normal;
}
.cart__content__form input::placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  text-align: none;
  line-height: normal;
}
.cart__content__form__button {
  background-color: white;
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  text-align: none;
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 14px;
  border-width: 1px;
  border-color: #bfbbbb;
}
.cart__content__form__button:hover {
  box-shadow: 0px 0px 11px 2px rgba(75, 78, 80, 0.81);
  transition: All 0.5s ease;
}
.cart__content__formTotal {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  margin-left: 128px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 20px;
  padding-right: 37px;
}
.cart__content__formTotal__text1 {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  text-align: none;
  line-height: normal;
}
.cart__content__formTotal__text2 {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: none;
  line-height: normal;
}
.cart__content__formTotal__text2 .text2__span {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: none;
  line-height: normal;
}
.cart__content__formTotal__button {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: none;
  line-height: normal;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 41px;
  padding-right: 43px;
  border: none;
  background-color: #F16D7F;
}
.cart__content__formTotal__button:hover {
  box-shadow: 0px 0px 11px 2px rgba(75, 78, 80, 0.81);
  transition: All 0.5s ease;
}
.cart__content__buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
}
.cart__content__buttons__shopping {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  text-align: none;
  line-height: normal;
  width: 235px;
  height: 50px;
  background-color: white;
}
.cart__content__buttons__shopping:hover {
  box-shadow: 0px 0px 11px 2px rgba(75, 78, 80, 0.81);
  transition: All 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background: #222224;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
}
.header__burger-img:hover {
  box-shadow: -22px -16px 9px -5px rgba(235, 241, 245, 0.19);
  transition: All 0.5s ease;
}
.header__left {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 41px;
  position: relative;
}
.header__right__log3 {
  padding-top: 13px;
}
.header__right .burger_head {
  padding-bottom: 20px;
}
.header__right .burger_head-title {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-align: none;
  line-height: normal;
  font-family: "latoblack";
}
.header__right .burger_item[open] .burger_head-title {
  color: #F16D7F;
  transition: All 0.5s ease;
}
.header__right .burger_link-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  padding-bottom: 21px;
  padding-left: 24px;
}
.header__right .burger_link-box .burger_link:hover {
  color: #F16D7F;
}
.header__right .burger_link-box .burger_link {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__right .nav {
  background: #FFFFFF;
  box-shadow: 6px, 4px, 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  right: 0px;
  transition: right 0.3s;
  box-shadow: -6px 7px 8px 0px rgba(34, 60, 80, 0.2);
}
.header #burger {
  position: absolute;
  left: -99999999px;
  visibility: hidden;
}
.header #burger:checked ~ .nav {
  right: -99999px;
}
.header .basket__count::after {
  content: "5";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #F16D7F;
  color: white;
  top: -3px;
  right: -7px;
  border-radius: 15px 15px 15px 15px;
}
.header .log:hover {
  margin-top: 5px;
  transition: 1s;
}
.header .header__right__log3:hover {
  transform: rotate(50deg);
  transition: 1s;
}

.top__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 59px;
  padding-bottom: 60px;
  background: #F8F3F4;
  text-decoration: none;
}
.top__head__link {
  font-family: "latobold";
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  text-align: none;
  line-height: normal;
  color: #222224;
}
.top__head__heading {
  color: #222224;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  text-align: none;
  line-height: normal;
}
.top__head__heading:hover {
  color: #F16D7F;
}
.top__head .breadCrambs__link {
  color: #222224;
  text-decoration: none;
}
.top__head .breadCrambs__link:hover {
  color: #F16D7F;
}

/*затемнение с ярлыком начало*/
.prod {
  position: relative;
}

.prod:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.prod:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url(img/Add_to_cart.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.prod:hover:before,
.prod:hover:after {
  opacity: 1;
  transition: 1s;
}

/*затемнение с ярлыком конец*/
.button__footer__product:hover {
  border: 3px dotted #3a7999;
  color: #3a7999;
  background: rgba(0, 0, 0, 0);
  transition: All 0.5s ease;
}

.info_slyle_footer:hover {
  transform: scale(1.2);
  color: cornflowerblue;
}

.text_product {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 25px;
}
.text_product .text__product__title {
  font-family: "latoblack";
  color: #222224;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text_product .text__product__text {
  font-family: "latolight";
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.text_product .text__product__price {
  font-family: "latoblack";
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text_product .button__footer__product {
  grid-column: 1/4;
  width: 212px;
  height: 48px;
}
.text_product .button__footer__product span {
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*****адаптив для телефона*****/
@media (min-width: 320px) and (max-width: 767px) {
  body {
    max-width: 736px;
  }
  /*header*/
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header__left {
    padding-left: 16px;
    gap: 41px;
  }
  .header__right {
    gap: 0px;
  }
  .basket,
.header__right__log3,
.log2__header__right,
.basket__count {
    display: none;
  }
  .log1__header__right {
    padding-right: 16px;
  }
  .top__head {
    flex-direction: column;
  }
  .top__head__link {
    padding-bottom: 32px;
  }
  .carousel {
    padding-top: none;
    padding-bottom: 85px;
  }
  .carousel-inner {
    padding-bottom: 85px;
  }
  .product_description {
    position: relative !important;
    margin-bottom: 65px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .product_description__box {
    position: absolute;
    width: 320px;
    position: static;
    width: 100%;
    border: none;
  }
  .product_description_text {
    width: 294px;
  }
  .product_description_breadCrambs {
    color: #6F6E6E;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .product_description__button {
    width: 200px;
  }
  /*main*/
  .main {
    height: 363px;
    justify-content: center;
  }
  .main .main__content__image {
    display: none;
  }
  .main .menu__img__left {
    display: none;
  }
  .main .main__text {
    font-size: 38px;
    gap: 15px;
    margin-top: 105px;
    padding-left: 20px;
  }
  .main .main__text_OF_LUXERIOUS {
    font-size: 20px;
  }
  .main .main__text_FASHION {
    font-size: 20px;
  }
  /****main__catalog*****/
  .main__catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .main__catalog .link {
    width: 300px;
  }
  .main__catalog .main__link4 {
    width: 300px;
    height: 111px;
  }
  .main__catalog .main__link1 {
    height: 247px;
  }
  .main__catalog .main__link2 {
    height: 248px;
  }
  .main__catalog .main__link3 {
    height: 248px;
  }
  /*будущие товары*/
  .fetured {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    padding-bottom: 95px;
  }
  .fetured__title {
    width: 97%;
  }
  .fetured__product__img {
    padding-left: 10px;
    padding-right: 10px;
  }
  .fetured .product_background {
    background-color: #F3EEEF;
  }
  .fetured__product__new {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 64px;
  }
  .footer_background_image {
    height: 82%;
  }
  .footer_feedback {
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 109px;
    gap: 59px;
  }
  .footer_feedback .footer_feedback_face_company {
    padding-bottom: 48px;
  }
  .footer_feedback .text__face__company {
    width: 100%;
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: none;
    line-height: normal;
  }
  .footer_feedback_inter__email {
    align-items: center;
  }
  .footer_feedback_inter__email .title_SUBSCRIBE {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
  }
  .footer_feedback_inter__email .title_FOR_OUR_NEWLETTER {
    font-size: 14px;
    font-weight: 400;
  }
  .footer_feedback_inter__email .style__input {
    width: 162px;
    height: 35px;
  }
  .footer_feedback_inter__email .button__submit {
    width: 75px;
    height: 34px;
  }
  .footer_social_network {
    display: flex;
    background-color: #222224;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    padding-bottom: 10px;
  }
}
/***адаптив для планшета***/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .header {
    padding-left: 32px;
    padding-right: 41px;
  }
  .header__right {
    margin-right: 20px;
  }
  .top__head {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top__head__link {
    padding-top: 59px;
    padding-bottom: 60px;
  }
  .product_description {
    margin-bottom: 129px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .product_description__box {
    position: static;
    border: none;
    width: 100%;
  }
  .product_description__button {
    width: 212px;
  }
  .product_description_breadCrambs__a {
    color: #6F6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main__content {
    justify-content: center;
  }
  .main .menu__img__left {
    width: 386px;
    height: 368px;
  }
  .main__catalog .link {
    width: 232px;
    height: 167px;
  }
  .main__catalog .link__long {
    width: 760px;
    height: 116px;
  }
  .fetured {
    grid-template-columns: 1fr 1fr;
  }
  .fetured__title {
    grid-column: 1/3;
  }
  .fetured .button__footer__product {
    grid-column: 1/3;
  }
  .fetured__product__new {
    gap: 16px;
  }
  .fetured__product__new .woman {
    display: none;
  }
  .footer_background_image {
    height: 89%;
  }
  .footer_feedback {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .footer_social_network {
    padding-left: 32px;
    padding-right: 32px;
  }
}/*# sourceMappingURL=style.css.map */