@import 'vars';
@import 'mixins';
@import 'footer';
@import 'main';
@import 'fetured';
@import 'filter';
@import 'carousel';
@import 'cartContent';
@import 'registration';

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

a {
    text-decoration: none;
}

.center {
    @include centerCalc($widthSite);
}

.header {
    background: $backgroundColorSite;
    @include centerFlex(space-between);
    @include paddingsTB(18px, 18px);
    position: relative;

    &__burger-img:hover {
        -webkit-box-shadow: -22px -16px 9px -5px rgba(235, 241, 245, 0.19);
        -moz-box-shadow: -22px -16px 9px -5px rgba(235, 241, 245, 0.19);
        box-shadow: -1px -1px 45px 3px rgb(235 241 245 / 19%);
        transition: All 0.5s ease;
    }

    &__left {
        @include centerFlex(none);
        gap: 41px;
    }

    &__right {
        @include centerFlex(none);
        gap: 41px;
        position: relative;

        &__log3 {
            padding-top: 13px;
        }

        .burger_head {
            padding-bottom: 20px;

            &-title {
                @include fontStyle(#000, 14px, 700,
                    $font-style: normal, $line-height: normal, $text-align: none);
            }
        }

        .burger_item[open] .burger_head-title {
            color: $colorHover;
            transition: All 0.5s ease;
        }

        .burger_link-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 11px;
            padding-bottom: 21px;
            padding-left: 24px;

            .burger_link:hover {
                color: $colorHover;
            }

            .burger_link {
                @include fontStyle(#6F6E6E, 14px, 400,
                    $font-style: normal, $line-height: normal, $text-align: none);
            }
        }

        .nav {
            background: #FFFFFF;
            box-shadow: 6pxстраница , 4px, 35px rgba(0, 0, 0, 0.21);
            width: 192px;
            padding: 9px;
            box-sizing: border-box;
            position: absolute;
            top: 80px;
            right: 0px;
            transition: right .3s;
            z-index: 1;
            right: -9999px;
            -webkit-box-shadow: -6px 7px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: -6px 7px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: -6px 7px 8px 0px rgba(34, 60, 80, 0.2);

        }
    }

    #burger {
        position: absolute;
        left: -9999px;
        visibility: hidden;

        &:checked~.nav {
            right: 0px;
        }
    }


    .basket__count::after {
        content: '5';
        position: absolute;
        @include centerFlex(center);
        width: 25px;
        height: 25px;
        background-color: $colorHover;
        color: white;
        top: -3px;
        right: -7px;
        border-radius: 15px 15px 15px 15px;
    }

    .log:hover {
        margin-top: 5px;
        transition: 1s;
    }

    .header__right__log3:hover {
        transform: rotate(50deg);
        transition: 1s;
    }
}

.top__head {
    @include centerFlex(space-between);
    @include paddingsTB(59px, 60px);
    background: #F8F3F4;
    text-decoration: none;

    &__link {
        text-decoration: none;
        @include fontStyle(#636363, 14px, 300);
        color: $backgroundColorSite;

    }

    &__heading {
        @include fontStyle($colorHover, 24px, 300);
    }
}

.breadCrambs {
    
    &__ul {
        list-style-type: none;
        display: flex;
    }

    &__li:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        @include fontStyle(#636363, 14px, 300);
    }
    &__li:last-child .breadCrambs__link{
        font-weight: 700;
        color: $colorHover;
    }
    &__link {
        @include fontStyle(#636363, 14px, 300);
        line-height: 17px;
        text-decoration: none;
        &:hover {
            color: $colorHover;
        }
    }

}

/*затемнение с ярлыком начало*/
.prod {
    position: relative;
}

.prod:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
}

.prod:before {
    @include centerFlex(center);
    content: url(img/Add_to_cart.png);
    position: absolute;
    @include objectPosition(0, 0, 0, 0);
    opacity: 0;
}

.prod:hover:before,
.prod:hover:after {
    opacity: 1;
    transition: 1s;
}

/*затемнение с ярлыком конец*/
.button__footer__product:hover {
    border: 3px dotted #3a7999;
    color: #3a7999;
    background: rgba(0, 0, 0, 0);
    transition: All 0.5s ease;

}

.info_slyle_footer:hover {
    transform: scale(1.2);
    color: cornflowerblue;
}



.text_product {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;

    .text__product__title {
        @include fetured__title__text($backgroundColorSite, 13px, 400);
    }

    .text__product__text {
        @include fetured__title__text(#5D5D5D, 14px, 300);
    }

    .text__product__price {
        @include fetured__title__text($colorHover, 16px, 400);
    }

    .button__footer__product {
        grid-column: 1/4;
        width: 212px;
        height: 48px;
    }

    .button__footer__product span {
        @include fontStyle(#F26376, 16px, 400,
            $font-style: normal, $line-height: normal, $text-align: none);
    }
}


/*****адаптив для телефона*****/

@media (min-width:320px) and (max-width: 767px) {
    body {
        max-width: $widthTabletSite;
    }

    /*header*/
    .center {
        @include centerCalc($widthTabletSite);
    }

    .header {
        @include centerFlex(space-around);

        &__left {
            padding-left: 16px;
            gap: 41px;
        }

        &__right {
            gap: 0px;
        }
    }

    .basket,
    .header__right__log3,
    .log2__header__right,
    .basket__count {
        display: none;
    }

    .log1__header__right {
        padding-right: 16px;
    }

    .top__head {
        flex-direction: column;

        &__link {
            padding-bottom: 32px;
        }
    }

    .carousel {
        @include paddingsTB(none, 85px);

        &-inner {
            padding-bottom: 85px;
        }
    }

    .product_description {
        position: relative !important;
        margin-bottom: 65px;
        @include paddingsLR(5px, 5px);


        &__box {
            position: absolute;
            width: 320px;
            // position: relative !important;
            position: static;
            width: 100%;
            border: none;
        }

        &_text {
            width: 294px;
        }

        &_breadCrambs {
            @include fontStyle(#6F6E6E, 10px, 400,
                $font-style: normal, $line-height: normal, $text-align: none);
        }

        &__button {
            width: 200px;
        }
    }

    /*main*/
    .main {
        height: 363px;
        justify-content: center;

        .main__content__image {
            display: none;
        }

        .menu__img__left {
            display: none;
        }

        .main__text {
            font-size: 38px;
            gap: 15px;
            margin-top: 105px;
            padding-left: 20px;
        }

        .main__text_OF_LUXERIOUS {
            font-size: 20px;
        }

        .main__text_FASHION {
            font-size: 20px;
        }
    }

    /****main__catalog*****/
    .main__catalog {
        @include centerFlex(center);
        flex-direction: column;
        flex-wrap: nowrap;

        .link {
            width: 300px;
        }

        .main__link4 {
            width: 300px;
            height: 111px;
        }

        .main__link1 {
            height: 247px;
        }

        .main__link2 {
            height: 248px;
        }

        .main__link3 {
            height: 248px;
        }
    }

    /*будущие товары*/
    .fetured {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        padding-bottom: 95px;

        &__title {
            width: 97%;
        }

        &__product {
            &__img {
                @include paddingsLR(10px, 10px);
            }

        }

        .product_background {
            background-color: #F3EEEF;
        }
    }

    .fetured__product__new {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 64px;
    }

    .footer {
        &_background_image {
            height: 82%;
        }

        &_feedback {
            flex-direction: column;
            align-items: center;
            padding-top: 64px;
            padding-bottom: 109px;
            gap: 59px;

            .footer_feedback_face_company {
                padding-bottom: 48px;
            }

            .text__face__company {
                width: 100%;
                @include fontStyle($backgroundColorSite, 18px, 400,
                    $font-style: normal, $line-height: normal, $text-align: none);
            }

            &_inter__email {
                align-items: center;

                .title_SUBSCRIBE {
                    @include fontStyle($backgroundColorSite, 24px, 700,
                        $font-style: normal, $line-height: normal, $text-align: none);
                    line-height: 167.2%;
                }

                .title_FOR_OUR_NEWLETTER {
                    font-size: 14px;
                    font-weight: 400;
                }

                .style__input {
                    width: 162px;
                    height: 35px;
                }

                .button__submit {
                    width: 75px;
                    height: 34px;
                }
            }
        }
    }

    .footer_social_network {
        display: flex;
        background-color: #222224;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        padding-bottom: 10px;
    }
}


/***адаптив для планшета***/
@media (min-width:768px) and (max-width: 1024px) {
    body {
        // max-width: $widthTabletSite;
        @include paddingsTB(18px, 18px);
    }

    .center {
        @include centerCalc($widthTabletSite);
    }

    .header {
        &__right {
            margin-right: 20px;
        }

        @include paddingsLR(32px, 41px);
    }

    .top__head {
        @include paddingsLR(16px, 16px);

        &__link {
            @include paddingsTB(59px, 60px);
        }
    }

    .product_description {
        margin-bottom: 129px;
        @include paddingsLR(5px, 5px);

        &__box {
            position: static;
            border: none;
            width: 100%;

        }

        &__button {
            width: 212px;
        }
    }

    .product_description_breadCrambs__a {
        @include fetured__title__text(#6F6E6E, 14px, 400);
    }

    .main {
        &__content {
            justify-content: center;
        }

        .menu__img__left {
            width: 386px;
            height: 368px;
        }
    }

    .main__catalog {
        .link {
            width: 232px;
            height: 167px;
        }

        .link__long {
            width: 760px;
            height: 116px;
        }
    }

    .fetured {
        grid-template-columns: 1fr 1fr;

        &__title {
            grid-column: 1/3;
        }

        .button__footer__product {
            grid-column: 1/3;
        }
    }

    .fetured__product__new {
        gap: 16px;

        .woman {
            display: none;
        }
    }

    .footer {
        &_background_image {
            height: 89%;
        }

        &_feedback {
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }

        &_social_network {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
}